/* common */
body,
html {
  height: 100%;
  color: #483834;
  font-size: 13px;
  font-family: "Nanum Barun Gothic", "나눔고딕", "NanumGothic", "돋움", "Dotum",
    sans-serif;
  line-height: 1.5;
  letter-spacing: -0.05em;
}
img {
  width: 100%;
  max-width: 100%;
  font-size: 0;
}
a {
  color: #483834;
}

#header .top_right button {
  border: none;
  width: 22px;
  height: 18px;
  vertical-align: middle;
  text-indent: -9999em;
  background: url(./img/btn_menu.png) no-repeat 0 0;
  background-size: auto 18px;
}
