body {
  margin-top: 0;
}

a {
  color: #483834;
  text-decoration: none;
}

body,
html {
  height: 100%;
  color: #483834;
  font-size: 13px;
  font-family: "Nanum Barun Gothic", "나눔고딕", "NanumGothic", "돋움", "Dotum",
    sans-serif;
  line-height: 1.5;
  letter-spacing: -0.05em;
}

ul {
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

body,
div,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

section {
  display: block;
}

.side_menu {
  top: 0;
  width: 75%;
  height: 100%;
  background-color: #fff;
  float: right;
}

.layout_width {
  width: 375px;
  height: 812px;
  margin-top: 0;
  background-color: gray;
}

.search_sec {
  background: #fe7c98;
  padding: 13px 20px 13px 25px;
}

.search_sec ul li {
  line-height: 27px;
}

.search_sec ul li.search a img {
  height: 27px;
}
.search_sec ul li a img {
  width: auto;
  vertical-align: middle;
  float: right;
}

img {
  max-width: 100%;
  font-size: 0;
  border: 0;
  vertical-align: top;
}

.search_sec ul::after {
  display: table;
  content: "";
  clear: both;
}

/** SEARCH SECTION END */

#nav .right_menu {
  margin-top: 12px;
}
#nav .right_menu a {
  display: block;
}

#nav .right_menu > li > a {
  text-indent: -9999em;
  padding: 19px 0;
  position: relative;
}

#nav .right_menu > li {
  border-bottom: 1px solid #ece6e3;
  display: list-item;
  text-align: -webkit-match-parent;
  height: 57px;
}

#nav .right_menu .menu01 > a {
  background: url(../img/nav_favor.png) 26px 19px no-repeat;
  background-size: auto 13px;
}

#nav .right_menu .menu02 > a {
  background: url(../img/nav_menu.png) 26px 19px no-repeat;
  background-size: auto 14px;
}

#nav .right_menu .menu03 > a {
  background: url(../img/nav_nutrition.png) 26px 22px no-repeat;
  background-size: auto 15px;
}

#nav .right_menu .menu04 > a {
  background: url(../img/nav_event.png) 26px 19px no-repeat;
  background-size: auto 13px;
}

#nav .right_menu .menu05 > a {
  background: url(../img/nav_store.png) 26px 19px no-repeat;
  background-size: auto 12px;
}

#nav .right_menu .menu06 > a {
  background: url(../img/nav_about.png) 26px 19px no-repeat;
  background-size: auto 14px;
}

#nav .right_menu > li > a:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 7px;
  right: 24px;
  top: 50%;
  margin-top: -3px;
  background: url(../img/ico_nav.png) no-repeat 0 0;
  background-size: auto 7px;
}

/** RIGHT MENU END */

#nav .sns {
  padding-top: 12px;
  text-align: center;
  margin: 38px 0;
}

#nav .sns a {
  margin-right: 10px;
}

#nav .sns img {
  height: 45px;
  width: auto;
}

/** SNS section end */

.close_nav {
  position: absolute;
  top: 17px;
  left: 25%;
  border: none;
  z-index: 999;
  background: url(../img/btn_pop_close.png) 50% 50% no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  margin-left: -49px;
  display: block;
  opacity: 1;
}

.close_nav span {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
