@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
}
ul {
  list-style: none;
}
a,
button {
  cursor: pointer;
}

/*베라 로고 이미지 */
.logo img {
  float: left;
  width: 15%;
  height: 15%;
  margin-left: 3.3%;
  margin-top: 3%;
  margin-bottom: 3%;
}
/*LOGIN, JOIN */
.site_top {
  text-align: right;
}

#JOIN {
  color: gray;
}

.site_top a {
  font-size: 13px;
  color: #ff80ab;
  padding: 0 1px 0 1px;
  margin-top: 8%;
  display: inline-block;
  font-weight: 900;
  margin-right: 20px;
}

.menu_button {
  width: 22px;
  height: 18px;
  border: none;
  text-indent: -9999em;
  background: url(../img/menu.png) no-repeat;
  background-size: auto 18px;
  vertical-align: middle;
  margin-right: 5%;
}

/** 사이드메뉴 START */

.m_nav {
  width: 281px;
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;
  background: #fff;
  z-index: 6;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
}

.search_sec {
  background: #fe7c98;
  padding: 13px 20px 13px 25px;
  height: 54px;
}

.search_sec ul li {
  line-height: 27px;
}

.search_sec ul li.search a img {
  width: auto;
  height: 27px;
  vertical-align: middle;
  font-size: 0;
  border: 0;
  max-width: 100%;
}

.search_sec ul li a img {
  width: auto;
  vertical-align: middle;
  float: right;
}
#nav img {
  max-width: 100%;
  font-size: 0;
  border: 0;
  vertical-align: top;
}

.search_sec ul::after {
  display: table;
  content: "";
  clear: both;
}

.nav .right_menu {
  margin-top: 12px;
  padding: 0;
}
.nav .right_menu a {
  display: block;
}

.nav .right_menu > li > a {
  text-indent: -9999em;
  padding: 19px 0;
  position: relative;
}

.nav .right_menu > li {
  border-bottom: 1px solid #ece6e3;
  display: list-item;
  text-align: -webkit-match-parent;
  height: 57px;
}

.nav .right_menu .menu01 > a {
  background: url(../img/nav_favor.png) 26px 19px no-repeat;
  background-size: auto 13px;
}

.nav .right_menu .menu02 > a {
  background: url(../img/nav_menu.png) 26px 19px no-repeat;
  background-size: auto 14px;
}

.nav .right_menu .menu03 > a {
  background: url(../img/nav_nutrition.png) 26px 22px no-repeat;
  background-size: auto 15px;
}

.nav .right_menu .menu04 > a {
  background: url(../img/nav_event.png) 26px 19px no-repeat;
  background-size: auto 13px;
}

.nav .right_menu .menu05 > a {
  background: url(../img/nav_store.png) 26px 19px no-repeat;
  background-size: auto 12px;
}

.nav .right_menu .menu06 > a {
  background: url(../img/nav_about.png) 26px 19px no-repeat;
  background-size: auto 14px;
}

.nav .right_menu > li > a:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 7px;
  right: 24px;
  top: 50%;
  margin-top: -3px;
  background: url(../img/ico_nav.png) no-repeat 0 0;
  background-size: auto 7px;
}

/** RIGHT MENU END */

.nav .menu_sns {
  text-align: center;
  margin: 38px 0;
  height: 45px;
}

.nav .menu_sns a {
  margin-right: 10px;
}

.nav .menu_sns img {
  height: 45px;
  width: auto;
  border: 0;
  vertical-align: top;
  max-width: 100%;
}

/** SNS section end */

.close_nav {
  position: absolute;
  top: 17px;
  left: 25%;
  border: none;
  z-index: 999;
  background: url(../img/btn_pop_close.png) 50% 50% no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  margin-left: -49px;
  display: none;
  opacity: 0;
}

.close_nav span {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#layer_dim {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: 5;
}

.dim {
  display: none;
}

.m_nav.on {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease 0.1s;
}

.close_nav.on {
  display: block;
  opacity: 1;
}

.m_nav.on .dim1 {
  display: block;
}

.br_main.on {
  overflow: hidden;
}
/* 배너  */
.banner img {
  width: 100%;
  height: 100%;
  margin-top: 1px;
}
/*BR EVENT*/
.BR {
  /*BR: br로 시작하는 글자 이미지 class*/
  margin-bottom: 7%;
}
.BR img {
  width: 21%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}
.br_event {
  width: 100%;
  margin-bottom: 10px;
}
.swiper-slide nav ul {
  padding: 2%;
}
.tit {
  float: left;
  width: 50%;
  padding: 1px;
}
.tit a img {
  border-radius: 2%;
}
.title {
  font-size: 12px;
  color: #424242;
  font-weight: lighter;
}
.period {
  font-size: 10px;
  font-weight: lighter;
  color: #757575;
  margin-top: 5px;
}

/*BR MENU*/
.long_menu {
  background-color: #eeeeee;
  margin-top: 10%;
}
/* BR STORE */
.store {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 10px;
}

/* happy order & delivery*/
.happy_order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}
/* sns */
.sns {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;
  margin-top: 7%;
}
.sns_list li {
  float: left;
  width: 20%;
  padding: 0;
  margin-bottom: 10%;
}
.sns_list img {
  width: 60%;
}
/*baskinrobbins instagram*/
.insta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 18%;
}
.instagram_img img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
/* 더보기+ */
.button {
  border-radius: 42px;
  color: #795548;
  padding: 3%;
  width: 45%;
  margin-top: 5%;
  background-color: white;
  border-color: #bfbfbf;
  font-size: 17px;
  font-weight: 900;
}
/* footer 시작 */
.footer_2 a {
  font-size: 12px;
  color: #757575;
  float: left;
}
.footer_2 ul {
  padding: 3%;
}
.footer_2 li {
  float: left;
  margin-top: 1px;
}
#pink {
  /*개인정보처리방침*/
  color: #ff80ab;
  font-weight: 900;
}
/* 해피포인트 ..~~ */
#footer .brand_family li {
  float: left;
  width: 16.666%;
  height: 10%;
  box-sizing: border-box;
  z-index: 1;
  padding: 1px;
}
#footer .brand_family .brand img {
  width: 60%;
  height: 30%;
  margin-bottom: 10px;
  margin-top: 5px;
}
#footer .brand {
  float: left;
}
#footer .brand ul {
  padding: 3%;
}
#footer .brand_family li a {
  display: block;
  width: 100%;
  height: 80px;
  border: 1px solid #d1cecc;
  padding: 5px 0 5px;
  font-size: 5px;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: -0.2em;
  line-height: 1.1;
  border-radius: 8%;
}
#footer .brand_family li span {
  color: #726456;
}

/* 고객센터랑 전화번호 부분 */
#footer .tel img {
  width: 5%;
  margin-left: 2%;
}
#footer .tel a {
  font-size: 12px;
  color: #c8baa9;
  font-weight: bold;
}
.button_2 {
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 2%;
  width: 22%;
  margin-top: 3%;
  background-color: #c8baa9;
  border-color: #bfbfbf;
  font-size: 15px;
  font-weight: 900;
  margin-left: 6%;
}
select {
  float: right;
  margin-right: 10%;
  margin-top: 4%;
  color: #c8baa9;
  width: 27%;
  font-size: 12px;
  padding: 1%;
}
.last_footer {
  margin-top: 1%;
}
#footer {
  /*푸터 아래 공백*/
  margin-bottom: 16%;
}
/*끝*/
