@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
    box-sizing:border-box;	
}

html, body {
	height:100%;
	color:#483834;
	font-size:13px;
	line-height: 1.5;
	margin:0;
	letter-spacing:-.05em;
}

article {
	display:block;
}

body {
	display:block;
}

header {
	display:block;
	box-sizing:border-box;
}

h1 {
	display: block;
    line-height: 46px;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -1.44px;
}

footer {
	width:100%;
}

#header {
	position:relative;
	border-bottom:1px solid #693337;
	height:77px;
}


.logo img{ 
  float: left;
  width: 15%;
  height: 15%;
  margin-left: 3.3%;
  margin-top: 3%;
}

/** 사이드메뉴 START */
.m_nav {
  width: 281px;
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;
  background: #fff;
  z-index: 6;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
}

.search_sec {
  background: #fe7c98;
  padding: 13px 20px 13px 25px;
  height: 54px;
}

.search_sec ul li {
  line-height: 27px;
}

.search_sec ul li.search a img {
  width: auto;
  height: 27px;
  vertical-align: middle;
  font-size: 0;
  border: 0;
  max-width: 100%;
}

.search_sec ul li a img {
  width: auto;
  vertical-align: middle;
  float: right;
}
#nav img {
  max-width: 100%;
  font-size: 0;
  border: 0;
  vertical-align: top;
}

.search_sec ul::after {
  display: table;
  content: "";
  clear: both;
}

.nav .right_menu {
  margin-top: 12px;
  padding: 0;
}
.nav .right_menu a {
  display: block;
}

.nav .right_menu > li > a {
  text-indent: -9999em;
  padding: 19px 0;
  position: relative;
}

.nav .right_menu > li {
  border-bottom: 1px solid #ece6e3;
  display: list-item;
  text-align: -webkit-match-parent;
  height: 57px;
}

.nav .right_menu .menu01 > a {
  background: url(../img/nav_favor.png) 26px 19px no-repeat;
  background-size: auto 13px;
}

.nav .right_menu .menu02 > a {
  background: url(../img/nav_menu.png) 26px 19px no-repeat;
  background-size: auto 14px;
}

.nav .right_menu .menu03 > a {
  background: url(../img/nav_nutrition.png) 26px 22px no-repeat;
  background-size: auto 15px;
}

.nav .right_menu .menu04 > a {
  background: url(../img/nav_event.png) 26px 19px no-repeat;
  background-size: auto 13px;
}

.nav .right_menu .menu05 > a {
  background: url(../img/nav_store.png) 26px 19px no-repeat;
  background-size: auto 12px;
}

.nav .right_menu .menu06 > a {
  background: url(../img/nav_about.png) 26px 19px no-repeat;
  background-size: auto 14px;
}

.nav .right_menu > li > a:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 7px;
  right: 24px;
  top: 50%;
  margin-top: -3px;
  background: url(../img/ico_nav.png) no-repeat 0 0;
  background-size: auto 7px;
}

/** RIGHT MENU END */

.nav .menu_sns {
  text-align: center;
  margin: 38px 0;
  height: 45px;
}

.nav .menu_sns a {
  margin-right: 10px;
}

.nav .menu_sns img {
  height: 45px;
  width: auto;
  border: 0;
  vertical-align: top;
  max-width: 100%;
}

/** SNS section end */

.close_nav {
  position: absolute;
  top: 17px;
  left: 25%;
  border: none;
  z-index: 999;
  background: url(../img/btn_pop_close.png) 50% 50% no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  margin-left: -49px;
  display: none;
  opacity: 0;
}

.close_nav span {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#layer_dim {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: 5;
}

.dim {
  display: none;
}

.m_nav.on {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease 0.1s;
}

.close_nav.on {
  display: block;
  opacity: 1;
}

.m_nav.on .dim1 {
  display: block;
}

/*LOGIN, JOIN */
.join_us {
	font-size:30px;
}

.site_top {  
  text-align: right;
}
 #JOIN {  
  color: gray;
}
.site_top a {
  font-size: 14px;
  color: #ff80ab;
  padding: 0 1px 0 1px; 
  margin-top: 8%;
  display: inline-block; 
  font-weight: 900;
  margin-right: 20px;
} 
.menu_button {
    width: 22px;
    height: 18px;
    border: none;
    text-indent: -9999em;
    background: url(../img/menu.png) no-repeat;
    background-size: auto 18px;
    vertical-align: middle;
    margin-right: 5%;
}


#content {
	position:relative;
	padding:0 0 50px 0;
	z-index:3;
	box-sizing:border-box;
}

.line_title {
	padding:45px 0 20px;
	color:#483834;
	font-weight:normal;
	font-size:11px;
	text-align:center;
	vertical-align:middle;
}

.line_title span {
	position:relative;
	z-index:10;
	display:block;
	vertical-align:top;
	background:#fff;
	margin-bottom:14px;
	padding:0 5px;
}

.line_title span img {
	width:auto;
	height:17px;
	vertical-align:middle;
}

.line_title span .icon {
	display: inline-block;
    width: 26px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: 26px auto;
    vertical-align: middle;
    content: "";
}




}

.inner_content {
	padding:0 15px;
}

.sso_login_wrap .login_box {
	padding-top:35px;
	border-top:2px solid #ff7c98
}

.sso_login_wrap .form {
	padding:0 15px;
}

.login_wrap form {
	position:relative;
	padding-right:91px;
}

fieldset {
	border:0;
	
}

.login_wrap #loginid {
	margin-bottom:9px;
}
.login_wrap #loginpw {
	margin-bottom:9px;
}
.login_wrap #loginpwRe {
	margin-bottom:9px;
}


.login_wrap input[type="text"],
.login_wrap input[type="password"] {
    position: relative;
    width:100%;
    height:38px;
    padding:10px;
    color:#696663;
    font-size:11px;
    line-height:18px;
    vertical-align:top;
}

input[type="text"],
input[type="password"] {
    background:#efefef;
    border:none;
    height:32px;
    line-height:32px;
}

.login_wrap button {
    position: absolute;
    top:2px;
    right:0;
    width:90px;
    height:90px;
    border-radius:42px;
    border:0;
    background:#f56f98;
    color:#fff;
    font-weight:bold;
    font-size:15px;
    line-height:84px;
	margin-top:45px;
}

.login_wrap nav {
	padding-top:19px;
}

ol, ul {
	list-style:none;
	margin:0;
	padding:0;
}

li {
	display:list-item;
}

nav {
	display:block;
}

a {
	text-decoration:none;
	color:#000000;
}

.login_wrap ul:after {
    display:table;
    clear:both;
    content:"";
}

.login_wrap li.li_1 {
	text-align:left;
	padding:0 15px;
}


.login_wrap li.li_2 {
	text-align:center;
}

.login_wrap li.li_3 {
	text-align:right;
}

.login_wrap li {
    position: relative;
    float:left;
    width:33.3%;
    color:#2f231c;
    font-size:11px;
    box-sizing:border-box;
}

.login_wrap ul + p {
	padding-top:27px;
	color:#948780;
	font-size:11px;
}

/* footer 시작 */
.footer_2 a{
  font-size: 12px;
  color: #757575;
  float: left;
}
.footer_2 ul {
  padding: 3%;
 }
.footer_2 li {
  float:left;
  margin-top: 1px;
}
 #pink { /*개인정보처리방침*/
  color: #ff80ab;
  font-weight: 900;
}
/* 해피포인트 ..~~ */
#footer .brand_family li {
  float: left;
  width: 16.666%; 
  height: 10%;
  box-sizing: border-box;
  z-index: 1;
  padding: 1px;
}
#footer .brand_family .brand img {
  width: 60%;
  height: 30%;
  margin-bottom: 10px;
  margin-top: 5px;
}
#footer .brand {
  float: left; 
}
#footer .brand ul {
  padding: 3%;
}
#footer .brand_family li a {
  display: block;
  width: 100%;
  height: 80px;
  border: 1px solid #d1cecc;
  padding: 5px 0 5px;
  font-size: 5px;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: -.2em;
  line-height: 1.1;
  border-radius:8%;
}
#footer .brand_family li span {
  color: #726456; 
}

/* 고객센터랑 전화번호 부분 */
#footer .tel img{
  width:5%;
  margin-left: 2%;
}
#footer .tel a {
  font-size: 12px;
  color: #c8baa9;
  font-weight: bold;
}
.button_2 {
  border-radius:8px;
  color: white;
  cursor: pointer;
  padding: 2%;
  width: 24%;
  margin-top: 3%;
  background-color:#c8baa9;
  border-color: #bfbfbf;
  font-size: 15px;
  font-weight: 900;
  margin-left: 6%;
}
select {
 float: right;
 margin-right: 10%;
 margin-top: 4%;
 color:#c8baa9 ;
 width: 27%;
 font-size: 12px;
 padding: 1%;
}
.last_footer {
 margin-top: 1%;
 width:360px;
}
#footer { /*푸터 아래 공백*/
  margin-bottom: 16%;
}