* {
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
    color: #483834;
}

html {
    font-size: 13px; 
}

header, footer {
    height: 100px;
}

.menu {
    padding: 0;
    margin: 0;
    letter-spacing: -0.5em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 팝업 */
.menu {
    min-width: 100%;
    display: block;
}

/* 메뉴 소개 */
.menu_popup a img {
    display: block;
    width: 100%;
}

#main_menu {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding:0 15px 50px;
    position: relative;
}

/* 소제목 */
.maintitle {
    padding: 50px 0 15px;
    display: block;
    text-align: center;
    font-size: 11px;
    position: relative;
}

.maintitle i {
    display: inline-block;
    font-size: 15px;
    padding-left: 5px;
}

.maintitle i.bottom {
    position: absolute;
    right: 29%;
    margin-top: 4px;
}

/* 이달의 맛 */
.fOM a img {
    display: block;
    width: 100%;
}

/* 메뉴 */
.item {
    position: relative;
    float: left;
    width: 50%;
    height: 270px;
    margin-top: -1px;
    border: 1px solid #ebebeb;
    border-width: 1px 1px 1px 0px;
    text-align: center;
    box-sizing: border-box;
}

.list {
    border-left: 1px solid #ebebeb;
    display: block;
}

.list::after {
    display: table;
    clear: left;
    content: "";
}

.item span {
    display: table-cell;
    vertical-align: middle;
    line-height: 5;
    letter-spacing: -0.1em;
}

.item img {
    display: block;
    position: absolute;
    top: 50px;
    bottom: 20px;
    text-align: center;
    width: 100%;
    left: 0;
    cursor: pointer;
}

.item .buy {
    display: block;
    height: 30px;
    margin-left: -65px;
    border-radius: 15px;
    border: 1px solid #d9cdc7;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 130px;
    letter-spacing: -0.1em;
}
