/**공통 */
* {
  	box-sizing: border-box;
  	font-family: "Noto Sans KR", sans-serif;
}

html {
	font-size: 13px; color: black;
}

a{
	text-decoration: none;
	color:black;
}

/** 공통 member title */

.member_tit {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid gray;
}

/** 헤더 list와 로그인박스가 겹침! */

/** main/index.jsp 로그인 */

.loginbox {
	width: 500px; 
	height: 590px;
	margin: 50px auto;
	border: 1px solid #dfdfdf ;
	border-radius: 3px;
	padding: 25px 40px;
}

.loginbox input[type='text'],
.loginbox input[type='password'] {
	width: 100%;
	height: 50px;
	border: 1px solid #dfdfdf;
	border-radius: 3px; 
	margin-bottom: 10px; 
	display: block; 
	padding: 0 10px;
}

.loginbox input[type='submit'] {
	width: 100%; 
	height: 55px;
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	background-color: #e89407;
	border-radius: 3px;
	border: none; 
	cursor: pointer;
	margin-top: 25px;
}

.loginbox .findjoin_link {
	padding: 18px 0 8px;	
}

.loginbox .findjoin_link:after {
	content: '';
	display: block;
	clear: both;
}

.loginbox .findjoin_link .left {
	float: left; 
} 

.loginbox .findjoin_link .right {
	float: right;
}

.loginbox .findjoin_link a:hover {
	text-decoration: underline;
}

.loginbox .findjoin_link .left a { 
	margin-right: 10px; 
}

.loginbox .snsline {
	display: flex;
    flex-basis: 100%;
    align-items: center; 
    color: #a1a1a1;
    font-size: 14px;
    margin: 8px 0px;
}

.loginbox .snsline::before,
.loginbox .snsline::after{
	content: "";
    flex-grow: 1;
    background: #a1a1a1;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

.loginbox  img {
	width: 100%;
	height: 60px;
	margin:8px 1px;
	padding:0 28px 0 28px;
}

/** member/form.jsp */

.joinbox {
	width: 550px; 
	height: 750px;
}

.joinbox input[type='reset'] {
	height: 36px;
	float: right;
	font-size: 15px;
	color: #ffffff;
	background-color: black;
	border: none; 
	cursor: pointer;
	border-radius: 3px;
	margin: 12px 0 20px;
}

/** member/changepw.jsp */

.changepw_box {
	height: 340px;
}

/** member/findid.jsp */

.findid_box {
	height: 340px;
}

/** member/findpw.jsp */

.findpw_box  {
	height: 400px;
}