
<!-- 로그인 form -->
	<div class="login_wrap">
	<form method="post" name="submitFormIDPW" id="submitFormIDPW" action="/member/join">
		<fieldset>
			<input type="hidden" name="issacweb_data">
			<input type="text" name="memId" id="loginid" placeholder="아이디를 입력하세요" title="아이디 입력">
			<input type="password" name="memPw" id="loginpw" placeholder="비밀번호를 입력하세요" title="비밀번호 입력">
			<input type="password" name="memPwRe" id="loginpwRe" placeholder="비밀번호를 다시한번 입력하세요." title="비밀번호 입력">
			<input type="text" name="memNm" id="loginNm" placeholder="닉네임을 입력하세요" title="닉네임 입력">
			<button type="submit" id="logbtn">회원가입</button>
		</fieldset>
	</form>
	
	<nav>
		<ul>
			<li class="li_1">
				<a href="#">아이디 찾기</a>
			</li>
			<li class="li_2">
				<a href="#">비밀번호 찾기</a>
			</li>
			<li class="li_3">
				<a href="#">회원가입 이용약관</a>
			</li>
		</ul>
		<p>*  타 사이트와 비밀번호를 동일하게 사용할 경우 도용의 위험이 있으므로 정기적인 비밀번호 변경을 해주시길 바랍니다.</p>
	</nav>
</div>
