{% extends 'layout.html' %}

{% block content %}

<!-- 메인 메뉴 -->
<main class="menu">
    <!-- 메뉴 팝업 -->
    <section class="menu_popup">
        <a href="#">
            <img src="/img/bg_main_menu.jpeg">
        </a>
    </section>
    <!-- 메뉴 소개 -->
    <section id="main_menu">
        <!-- 이달의 맛 -->
        <div id="flavor">
            <h3 class="maintitle">
                <img src="/img/h_title_T.png">
            </h3>
            <div class="fOM">
                <a href="#">
                    <img src="/img/flavor.png">
                </a>
            </div>
        </div>

        <!-- 아이스크림 -->
        <div id="icecream">
            <h3 class="maintitle">
                <img src="img/h_title_A.png">
                <i class="xi-plus-circle"></i>
            </h3>
            <ul class="list">
                <li class="item">
                    <a href="#">
                        <span>아이스 꼬북칩</span>
                        <img src="img/ice1.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <span>꿀.바.망</span>
                        <img src="img/ice2.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>피나 콜라다</span>
                        <img src="img/ice3.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>북극곰 폴리베어</span>
                        <img src="img/ice4.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 아이스크림 케이크 -->
        <div id="icecreamCake">
            <h3 class="maintitle">
                <img src="img/h_title_B.png">
                <i class="xi-plus-circle"></i>
            </h3>
            <ul class="list">
                <li class="item">
                    <a href="#">
                        <span>아이스 꼬북칩 케이크</span>
                        <img src="img/cake1.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <span>루피의 드레스 룸</span>
                        <img src="img/cake2.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>해피 스마일 플라워</span>
                        <img src="img/cake3.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>니니즈 프렌즈 대출동</span>
                        <img src="img/cake4.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 음료 -->
        <div id="beverage">
            <h3 class="maintitle">
                <img src="img/h_title_C.png">
                <i class="xi-plus-circle bottom"></i>
            </h3>
            <ul class="list">
                <li class="item">
                    <a href="#">
                        <span>꼬북칩 초코 츄러스 블라스트</span>
                        <img src="img/bev1.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <span>허니 망고 라떼</span>
                        <img src="img/bev2.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>팥빙수 쉐이크(with 밀탑)</span>
                        <img src="img/bev3.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>체리 초코 쥬빌레 블라스트</span>
                        <img src="img/bev4.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 커피 -->
        <div id="coffe">
            <h3 class="maintitle">
                <img src="img/h_title_D.png">
                <i class="xi-plus-circle"></i>
            </h3>
            <ul class="list">
                <li class="item">
                    <a href="#">
                        <span>아메리카노</span>
                        <img src="img/coffe1.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <span>카페 라떼</span>
                        <img src="img/coffe2.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>바닐라빈 라떼</span>
                        <img src="img/coffe3.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>아이스 바닐라빈 라떼</span>
                        <img src="img/coffe4.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 디저트 -->
        <div id="dessert">
            <h3 class="maintitle">
                <img src="img/h_title_E.png">
                <i class="xi-plus-circle"></i>
            </h3>
            <ul class="list">
                <li class="item">
                    <a href="#">
                        <span>꼬북칩 초코 츄러스 샌드</span>
                        <img src="img/dessert1.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <span>아이스 꿀바망 슈</span>
                        <img src="img/dessert2.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>아이스 마카롱 초콜릿 브라우니</span>
                        <img src="img/dessert3.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>아이스 롤케이크 체리초코</span>
                        <img src="img/dessert4.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 블록팩 -->
        <div id="blockPack">
            <h3 class="maintitle">
                <img src="img/h_title_F.png">
                <i class="xi-plus-circle"></i>
            </h3>
            <ul class="list">
                <li class="item">
                    <a href="#">
                        <span>블록팩(110ml)</span>
                        <img src="img/block.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 레디팩 -->
        <div id="readyPack">
            <h3 class="maintitle">
                <img src="img/h_title_G.png">
                <i class="xi-plus-circle bottom"></i>
            </h3>
            <ul class="list">
                <li class="item">
                    <a href="#">
                        <span>오레오 쿠키앤 칼라멜 레디팩</span>
                        <img src="img/ready1.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <span>아몬드 붕붕 레디팩</span>
                        <img src="img/ready2.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>허쉬 마카다미아 넛 레디팩</span>
                        <img src="img/ready3.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li> <li class="item">
                    <a href="#">
                        <span>베리베리 스트로베리 레디팩</span>
                        <img src="img/ready4.png"><br>
                        <a href="#" class="buy">구매하기</a>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}