<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'utf-8'>
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' type='text/css' href='css2/style.css'>
    <!-- <script src='script.js'></script> -->
    <link rel ='stylesheet' href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js2/baskin.js"></script>
    <title>베스킨라빈스</title>
  </head>
  <body>
    <!--헤더 시작-->
    <header>
        <div class='logo'>
          <a href='http://localhost:3005/'><img src='img/logo.png'></a> <!--메인 로고-->
          <div class= 'site_top'>
              <a href='/member/login'>LOGIN</a>
              <a id='JOIN' href='/member/join'>JOIN</a> 
              <button type="button" class="menu_button"></button> <!--누르면 사이드메뉴-->
			  <br>
			  {{ member.memNm }}
			  <a href = '/member/logout'>로그아웃</a>
          </div>
        </div>
      </header>
      <nav class="nav">
        <div class="m_nav">
          <section class="search_sec">
            <ul>
              <li class="search">
                <a href="#">
                  <img src="img/btn_search.png" alt="search">
                </a>
              </li>
            </ul>
          </section>
          <ul class="right_menu">
            <li class="depth1 menu01">
              <a href="#">%
                <span>FLAVOR OF MONTH</span>%
              </a>
            </li>
            <li class="depth1 menu02">
              <a href="http://localhost:3005/menu">
                <span>MENU</span>
              </a>
            </li>
            <li class="depth1 menu03">
              <a href="#">
                <span>영양성분 및 알레르기</span>
              </a>
            </li>
            <li class="depth1 menu04">
              <a href="#">
                <span>EVENT</span>
              </a>
            </li>
            <li class="depth1 menu05">
              <a href="#">
                <span>STORE</span>
              </a>
            </li>
            <li class="depth1 menu06">
              <a href="#">
                <span>ABOUT</span>
              </a>
            </li>
          </ul>
          <section class="menu_sns">
            <a href="#">
              <img src="./img/btn_facebook.png" alt="facebook">
            </a>
            <a href="#">
              <img src="./img/btn_blog.png" alt="blog">
            </a>
            <a href="#">
              <img src="./img/btn_twitter.png" alt="twitter">
            </a>
            <a href="#">
              <img src="./img/btn_instagram.png" alt="instagram">
            </a>
          </section>
        </div>
        <button type="button"class="close_nav">
          <span>메뉴닫기</span>
        </button>
        <div id="layer_dim" class="dim dim1"></div>
      </nav>
    <!-- 배너  시작 -->
    <main>
    <article>
        <div class='banner'>
            <a href='#' ><img src='img/banner.jpeg'></a>  
       </div>
        <!--swiper--> 
        <div class="swiper-container mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src='img/banner_1.jpeg' width='100%;'>
            </div>
            <div class="swiper-slide">
              <img src='img/banner_2.png'width='100%;'>
            </div>
            <div class="swiper-slide">
              <img src='img/banner_3.png'width='100%;'>
            </div>
            <div class="swiper-slide">
              <img src='img/banner_4.jpeg'width='100%;'>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
    </article>
    <!--BR EVENT 시작 -->
        <section>
          <div class='BR'>
            <img src="img/event.png">  
            </div>

        <!--두 번째 swiper-->
        <div class="swiper-container mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
             <!-- 첫번째 배너  -->
             <nav>
             <ul>
              <li class='tit'>
                  <a href="#">
                    <img src='img/banner_delivery.png' class='br_event'> 
                  </a>
                    <img src='img/stit_store.gif' width='55%'><br>
                    <div class='title'> 해피 오더 딜리버리로 간편하게 주문하세요!</div> 
                    <div class='period'>상시진행</div>
                </li>
                <li class='tit'>
                  <a href="#">
                    <img src='img/banner_delivery_bm.png' class='br_event'> 
                  </a>
                    <img src='img/stit_store.gif'width='55%' ><br>
                    <div class='title'>배달의 민족에서 빠르게 주문하세요!</div> 
                    <div class='period'>상시진행</div>
                </li>   
              </ul>
             </nav>
            </div>
            <div class="swiper-slide">
             <!-- 두번째 배너 -->
             <nav>
             <ul>
              <li class='tit'>
                  <a href="#">
                    <img src='img/banner_delivery_ygy.png' class='br_event'> 
                  </a>
                    <img src='img/stit_store.gif' width='55%'><br>
                    <div class='title'> 요기요에서 손쉽게 주문하세요!</div> 
                    <div class='period'>상시진행</div>
              </li>
                <li class='tit'>
                  <a href="#">
                    <img src='img/banner_delivery_kakao.png' class='br_event'> 
                  </a>
                    <img src='img/stit_store.gif'width='55%' ><br>
                    <div class='title'>카카오톡 주문하기에서 편리하게 주문하세요!</div> 
                    <div class='period'>상시진행</div>
                </li>   
              </ul>
             </nav>
            </div>
            <div class="swiper-slide">
              <!-- 세번째 배너 -->
             <nav>
               <ul>
                <li class='tit'>
                    <a href="#">
                      <img src='img/banner_4.jpeg' class='br_event'> 
                    </a>
                      <img src='img/stit_store.gif' width='55%'><br>
                      <div class='title'> KT맴버쉽 고객이라면 누구나 파인트 30% 할인</div> 
                      <div class='period'>상시진행</div>
                  </li>
                  <li class='tit'>
                    <a href="#">
                      <img src='img/1578277305.png' class='br_event'> <br>
                    </a>
                      <img src='img/stit_store.gif' width='55%'>
                      <div class='title'>1회용 컵 사용 줄이기 안내</div> 
                      <div class='period'>상시진행</div>
                 </li>
                </ul>
              </nav>
            </div>
            <div class="swiper-slide">
              <!-- 네번째 배너  -->
             <nav>
              <ul>
                <li class='tit'>
                    <a href="#">
                      <img src='img/1570702843.png' class='br_event'> 
                    </a>
                      <img src='img/stit_store.gif' width='55%'><br>
                      <div class='title'> 2018 한글날 기념 무료 글꼴 공개! 배스킨라빈스체</div> 
                      <div class='period'>상시진행</div>
                  </li>
                  <li class='tit'>
                    <a href="#">
                      <img src='img/1639297260.png' class='br_event'> 
                    </a>
                      <img src='img/stit_store.gif'width='55%' ><br>
                      <div class='title'>제휴 할인 카드 혜택 안내</div> <br>
                      <div class='period'>상시진행</div>
                  </li>   
                </ul>
              </nav>
            </div>
            <div class="swiper-slide">
              <!-- 다섯번째 배너  -->
             <nav>
              <ul>
                <li class='tit'>
                    <a href="#">
                      <img src='img/banner_praise_2021-2.png' class='br_event'> 
                    </a>
                      <img src='img/stit_store.gif' width='55%'><br>
                      <div class='title'> 2021년 2분기 고객 BEST 칭찬 점포 안내</div> 
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="swiper-pagination"></div><br><br>
        </div> 
          <script>
              var swiper = new Swiper(".mySwiper", {
              pagination: {
              el: ".swiper-pagination",
              },
          });
        </script> 
        </section>
        <!-- BR MENU 시작 -->
      <section class='long_menu'>  
          <div class="BR"><br>
            <img src="img/h_menu.png">
          </div>
            <div ></div>
            <a href="#"><img src='img/menu_list.png' width="100%"></a> <!--긴 메뉴판-->
          </div>
      </section>
   <!--br store 시작-->
      <section>
          <div >
            <div class='BR' >
             <img id='br_store'src='img/h_store.png'> 
           </div>
            <a href="#"><img class='store' src='img/img_store.jpeg'width='90%' ></a>
          </div>
     <!--happy order & delivery-->
          <div class= 'delivery'>
            <img class='happy_order' src="img/happy_order.png" >
            <a class='store' href="#"><img src="img/delivery.jpeg" width="100%"></a> <!--기사 사진-->
          </div>
      </section>
          <!--SNS -->
        <section>
          <img src="img/h_sns.png" class='sns'> <br><br>
        <nav class="sns_list">
          <ul>
            <li>
              <a href="#"><img src="img/icon_facebook.png"></a>
            </li>
            <li>
              <a href="#"><img src="img/icon_twitter.png"></a>
            </li>
            <li>
              <a href="#"><img src="img/icon_blog.png"></a>
            </li>
            <li>
              <a href="#"><img src="img/icon_instgram.png"></a>
            </li>
            <li>
              <a href="#"><img src="img/icon_youtube.png"></a>
            </li>
          </ul>
        </nav>
      </section> 
      <!-- baskinrobbins instagram -->
      <section>
        <img class='insta' src="img/tit_sns.png"> 
        <div class='instagram_img'>
          <a href="#"><img src="img/instgram_img.png"></a>
        </div>
      </section>   
       <!-- 더보기 + 버튼 -->
     <section> 
       <center>
         <div>
             <button class='button' >더보기 +</button>
         </div>
       </center>
     </section>

     <!-- footer 시작 -->
    <footer id="footer">
      <br><br>
      <hr style='border: solid 0.01px orange; margin-bottom: 5%;'>
      <nav class='footer_2'>
        <ul >
          <li>
            <a href='#'>채용문의</a> <li>·</li>
          </li>
          <li>
            <a href='#'>이용약관</a> <li>·</li>
          </li>
          <li>
            <a href="#">윤리신고센터</a> <li>·</li>
          </li>
          <li>
            <a href="#" id="pink">개인정보처리방침</a> <br> 
          </li>
          <li>
            <a href="#">· 영상정보처리기기운영관리방침</a> <li>·</li>
          </li>
          <li>
            <a href="#">거래희망회사 사전등록</a> 
          </li>
          <li></li>
        </ul>
      </nav>
      <div class="brand_family">
        <nav class="brand">
          <ul>
            <li class="li_1">
              <a href="#"><img src="img/btn_happypoint.png"><br>
               <span>해피포인트</span>
             </a>
            </li>
            <li class="li_2">
              <a href="#"><img src="img/btn_ccm.gif"><br>
               <span>Consumer Centered Management</span>
             </a>
            </li>
            <li class="li_3">
              <a href="#"><img src="img/btn_spc_story.png"><br>
               <span>SPC 행복한 <br>이야기</span>
              </a>
            </li>
            <li class="li_4">
              <a href="#"><img src="img/btn_norton.gif">
               <span>Powered by Symantec</span>
              </a>
            </li>
            <li class="li_5">
              <a href="#"><img src="img/btn_hm.png"><br>
               <span>해피마켓</span>
              </a>
            </li>
            <li class="li_6">
              <a href="#"><img src="img/btn_ksa.gif"><br>
               <span>품질경쟁력 평가시스템</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>  
      <section>
        <div class="tel">
          <a href="#"><button class="button_2">고객센터</button></a>
          <a href="#"><img src="img/call.gif" > 080-555-3131</a>
        
         <select name = 'family site' class="select">
          <option value="FAMILY SITE">FAMILY SITE</option>
          <option value="배스킨 스쿨">배스킨 스쿨</option>
          <option value="SPC그룹사이트">SPC그룹사이트</option>
          <option value="SPC MAGAZINE">SPC MAGAZINE</option>
          <option value="BR코리아">BR코리아</option>
          <option value="해피포인트카드">해피포인트카드</option>
          <option value="파스쿠찌">파스쿠찌</option>
          <option value="삼립">삼립</option>
          <option value="파리바게트">파리바게트</option>
          <option value="던킨도너츠">던킨도너츠</option>
         </select> <br>
        </div>
         <nav class="footer_2">
           <ul class="last_footer">
             <li>
               <a href="#">사업자 등록번호 : 303-81-09535</a> &nbsp;&nbsp;
             </li>
             <li>
               <a href="#">비알코리아(주) 대표이사 도세호</a> <br>
             </li>
             <li>
               <a href="#">서울특별시 서초구 남부순환로 2620</a> &nbsp;&nbsp;
             </li>
             <li>
               <a href="#">개인정보관리책임자 : 김경우 </a>
             </li>
           </ul>
         </nav>
      </section>
    </footer>
  </main>
  </body>
</html>
<script>
var mySwiper = new Swiper('.swiper-container', {
  autoplay: {
    delay: 2500,
  },
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  }
});
</script>