{% extends 'layout.html' %}

{% block content %}

<nav class="nav">
    <div class="m_nav">
        <section class="search_sec">
        <ul>
            <li class="search">
            <a href="#">
                <img src="../../public/css/img/btn_search.png" alt="search">
            </a>
            </li>
        </ul>
        </section>
        <ul class="right_menu">
        <li class="depth1 menu01">
            <a href="#">%
            <span>FLAVOR OF MONTH</span>%
            </a>
        </li>
        <li class="depth1 menu02">
            <a href="#">
            <span>MENU</span>
            </a>
        </li>
        <li class="depth1 menu03">
            <a href="#">
            <span>영양성분 및 알레르기</span>
            </a>
        </li>
        <li class="depth1 menu04">
            <a href="#">
            <span>EVENT</span>
            </a>
        </li>
        <li class="depth1 menu05">
            <a href="#">
            <span>STORE</span>
            </a>
        </li>
        <li class="depth1 menu06">
            <a href="#">
            <span>ABOUT</span>
            </a>
        </li>
        </ul>
        <section class="menu_sns">
        <a href="#">
            <img src="../../public/css/img/btn_facebook.png" alt="facebook">
        </a>
        <a href="#">
            <img src="../../public/css/img/btn_blog.png" alt="blog">
        </a>
        <a href="#">
            <img src="../../public/css/img/btn_twitter.png" alt="twitter">
        </a>
        <a href="#">
            <img src="../../public/css/img/btn_instagram.png" alt="instagram">
        </a>
        </section>
    </div>
        <button type="button"class="close_nav">
        <span>메뉴닫기</span>
    </button>
    <div id="layer_dim" class="dim dim1"></div>
    </nav>
<!-- 배너  시작 -->
<main>
<article>
    <div class='banner'>
        <a href='#' ><img src='../../public/css/img/banner.jpeg'></a>  
        </div>
    <!--swiper--> 
    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src='../../public/css/img/banner_1.jpeg' width='100%;'>
        </div>
        <div class="swiper-slide">
            <img src='../../public/css/img/banner_2.png'width='100%;'>
        </div>
        <div class="swiper-slide">
            <img src='../../public/css/img/banner_3.png'width='100%;'>
        </div>
        <div class="swiper-slide">
            <img src='../../public/css/img/banner_4.jpeg'width='100%;'>
        </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</article>
<!--BR EVENT 시작 -->
    <section>
        <div class='BR'>
        <img src="../../public/css/img/event.png">  
        </div>

    <!--두 번째 swiper-->
    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
        <div class="swiper-slide">
            <!-- 첫번째 배너  -->
            <nav>
                <ul>
                    <li class='tit'>
                        <a href="#">
                    <img src='../../public/css/img/banner_delivery.png' class='br_event'> 
                        </a>
                    <img src='../../public/css/img/stit_store.gif' width='55%'><br>
                    <div class='title'> 해피 오더 딜리버리로 간편하게 주문하세요!</div> 
                    <div class='period'>상시진행</div>
                </li>
                <li class='tit'>
                    <a href="#">
                    <img src='../../public/css/img/banner_delivery_bm.png' class='br_event'> 
                    </a>
                    <img src='../../public/css/img/stit_store.gif'width='55%' ><br>
                    <div class='title'>배달의 민족에서 빠르게 주문하세요!</div> 
                    <div class='period'>상시진행</div>
                </li>   
                </ul>
            </nav>
        </div>
        <div class="swiper-slide">
            <!-- 두번째 배너 -->
            <nav>
                <ul>
                    <li class='tit'>
                        <a href="#">
                            <img src='../../public/css/img/banner_delivery_ygy.png' class='br_event'> 
                        </a>
                        <img src='../../public/css/img/stit_store.gif' width='55%'><br>
                        <div class='title'> 요기요에서 손쉽게 주문하세요!</div> 
                        <div class='period'>상시진행</div>
                    </li>
                    <li class='tit'>
                        <a href="#">
                            <img src='../../public/css/img/banner_delivery_kakao.png' class='br_event'> 
                        </a>
                        <img src='../../public/css/img/stit_store.gif'width='55%' ><br>
                        <div class='title'>카카오톡 주문하기에서 편리하게 주문하세요!</div> 
                        <div class='period'>상시진행</div>
                    </li>   
                </ul>
            </nav>
        </div>
        <div class="swiper-slide">
            <!-- 세번째 배너 -->
            <nav>
            <ul>
                <li class='tit'>
                    <a href="#">
                    <img src='../../public/css/img/banner_4.jpeg' class='br_event'> 
                    </a>
                    <img src='../../public/css/img/stit_store.gif' width='55%'><br>
                    <div class='title'> KT맴버쉽 고객이라면 누구나 파인트 30% 할인</div> 
                    <div class='period'>상시진행</div>
                </li>
                <li class='tit'>
                    <a href="#">
                    <img src='../../public/css/img/1578277305.png' class='br_event'> <br>
                    </a>
                    <img src='../../public/css/img/stit_store.gif' width='55%'>
                    <div class='title'>1회용 컵 사용 줄이기 안내</div> 
                    <div class='period'>상시진행</div>
                </li>
                </ul>
            </nav>
        </div>
        <div class="swiper-slide">
            <!-- 네번째 배너  -->
            <nav>
            <ul>
                <li class='tit'>
                    <a href="#">
                    <img src='../../public/css/img/1570702843.png' class='br_event'> 
                    </a>
                    <img src='../../public/css/img/stit_store.gif' width='55%'><br>
                    <div class='title'> 2018 한글날 기념 무료 글꼴 공개! 배스킨라빈스체</div> 
                    <div class='period'>상시진행</div>
                </li>
                <li class='tit'>
                    <a href="#">
                    <img src='../../public/css/img/1639297260.png' class='br_event'> 
                    </a>
                    <img src='../../public/css/img/stit_store.gif'width='55%' ><br>
                    <div class='title'>제휴 할인 카드 혜택 안내</div> <br>
                    <div class='period'>상시진행</div>
                </li>   
                </ul>
            </nav>
        </div>
        <div class="swiper-slide">
            <!-- 다섯번째 배너  -->
            <nav>
            <ul>
                <li class='tit'>
                    <a href="#">
                    <img src='../../public/css/img/banner_praise_2021-2.png' class='br_event'> 
                    </a>
                    <img src='../../public/css/img/stit_store.gif' width='55%'><br>
                    <div class='title'> 2021년 2분기 고객 BEST 칭찬 점포 안내</div> 
                </li>
                </ul>
            </nav>
            </div>
        </div>
    <div class="swiper-pagination"></div><br><br>
    </div> 
        <script>
            var swiper = new Swiper(".mySwiper", {
            pagination: {
            el: ".swiper-pagination",
            },
        });
        </script> 
    </section>
    <!-- BR MENU 시작 -->
    <section class='long_menu'>  
        <div class="BR"><br>
            <img src="../../public/css/img/h_menu.png">
        </div>
            <div ></div>
            <a href="#"><img src='../../public/css/img/menu_list.png' width="100%"></a> <!--긴 메뉴판-->
        </div>
    </section>
    <!--br store 시작-->
    <section>
        <div >
            <div class='BR' >
            <img id='br_store'src='../../public/css/img/h_store.png'> 
        </div>
            <a href="#"><img class='store' src='../../public/css/img/img_store.jpeg'width='90%' ></a>
        </div>
    <!--happy order & delivery-->
        <div class= 'delivery'>
            <img class='happy_order' src="../../public/css/img/happy_order.png" >
            <a class='store' href="#"><img src="../../public/css/img/delivery.jpeg" width="100%"></a> <!--기사 사진-->
        </div>
    </section>
    <!--SNS -->
    <section>
        <img src="../../public/css/img/h_sns.png" class='sns'> <br><br>
        <nav class="sns_list">
        <ul>
            <li>
            <a href="#"><img src="../../public/css/img/icon_facebook.png"></a>
            </li>
            <li>
            <a href="#"><img src="../../public/css/img/icon_twitter.png"></a>
            </li>
            <li>
            <a href="#"><img src="../../public/css/img/icon_blog.png"></a>
            </li>
            <li>
            <a href="#"><img src="../../public/css/img/icon_instgram.png"></a>
            </li>
            <li>
            <a href="#"><img src="../../public/css/img/icon_youtube.png"></a>
            </li>
        </ul>
        </nav>
    </section> 
    <!-- baskinrobbins instagram -->
    <section>
        <img class='insta' src="../../public/css/img/tit_sns.png"> 
        <div class='instagram_img'>
        <a href="#"><img src="../../public/css/img/instgram_img.png"></a>
        </div>
    </section>   
    <!-- 더보기 + 버튼 -->
    <section> 
    <center>
        <div>
            <button class='button' >더보기 +</button>
        </div>
    </center>
    </section>
</main>
{% endblock %}