<footer id="footer">
    <br><br>
    <hr style='border: solid 0.01px orange; margin-bottom: 5%;'>
    <nav class='footer_2'>
        <ul >
            <li>
            <a href='#'>채용문의</a> <li>·</li>
            </li>
            <li>
            <a href='#'>이용약관</a> <li>·</li>
            </li>
            <li>
            <a href="#">윤리신고센터</a> <li>·</li>
            </li>
            <li>
            <a href="#" id="pink">개인정보처리방침</a> <br> 
            </li>
            <li>
            <a href="#">· 영상정보처리기기운영관리방침</a> <li>·</li>
            </li>
            <li>
            <a href="#">거래희망회사 사전등록</a> 
            </li>
            <li></li>
        </ul>
        </nav>
        <div class="brand_family">
        <nav class="brand">
            <ul>
            <li class="li_1">
                <a href="#"><img src="/img/btn_happypoint.png"><br>
                <span>해피포인트</span>
            </a>
            </li>
            <li class="li_2">
                <a href="#"><img src="/img/btn_ccm.gif"><br>
                <span>Consumer Centered Management</span>
            </a>
            </li>
            <li class="li_3">
                <a href="#"><img src="/img/btn_spc_story.png"><br>
                <span>SPC 행복한 <br>이야기</span>
                </a>
            </li>
            <li class="li_4">
                <a href="#"><img src="/img/btn_norton.gif">
                <span>Powered by Symantec</span>
                </a>
            </li>
            <li class="li_5">
                <a href="#"><img src="/img/btn_hm.png"><br>
                <span>해피마켓</span>
                </a>
            </li>
            <li class="li_6">
                <a href="#"><img src="/img/btn_ksa.gif"><br>
                <span>품질경쟁력 평가시스템</span>
                </a>
            </li>
            </ul>
        </nav>
        </div>  
        <section>
        <div class="tel">
            <a href="#"><button class="button_2">고객센터</button></a>
            <a href="#"><img src="/img/call.gif" > 080-555-3131</a>
        
        <select name = 'family site' class="select">
            <option value="FAMILY SITE">FAMILY SITE</option>
            <option value="배스킨 스쿨">배스킨 스쿨</option>
            <option value="SPC그룹사이트">SPC그룹사이트</option>
            <option value="SPC MAGAZINE">SPC MAGAZINE</option>
            <option value="BR코리아">BR코리아</option>
            <option value="해피포인트카드">해피포인트카드</option>
            <option value="파스쿠찌">파스쿠찌</option>
            <option value="삼립">삼립</option>
            <option value="파리바게트">파리바게트</option>
            <option value="던킨도너츠">던킨도너츠</option>
        </select> <br>
        </div>
        <nav class="footer_2">
            <ul class="last_footer">
            <li>
                <a href="#">사업자 등록번호 : 303-81-09535</a> &nbsp;&nbsp;
            </li>
            <li>
                <a href="#">비알코리아(주) 대표이사 도세호</a> <br>
            </li>
            <li>
                <a href="#">서울특별시 서초구 남부순환로 2620</a> &nbsp;&nbsp;
            </li>
            <li>
                <a href="#">개인정보관리책임자 : 김경우 </a>
            </li>
            </ul>
        </nav>
    </section>
</footer>