<nav class="nav">
    <div class="m_nav">
        <section class="search_sec">
        <ul>
            <li class="search">
            <a href="#">
                <img src="img/btn_search.png" alt="search">
            </a>
            </li>
        </ul>
        </section>
        <ul class="right_menu">
        <li class="depth1 menu01">
            <a href="#">
            <span>FLAVOR OF MONTH</span>
            </a>
        </li>
        <li class="depth1 menu02">
            <a href="/menu">
            <span>MENU</span>
            </a>
        </li>
        <li class="depth1 menu03">
            <a href="#">
            <span>영양성분 및 알레르기</span>
            </a>
        </li>
        <li class="depth1 menu04">
            <a href="#">
            <span>EVENT</span>
            </a>
        </li>
        <li class="depth1 menu05">
            <a href="#">
            <span>STORE</span>
            </a>
        </li>
        <li class="depth1 menu06">
            <a href="#">
            <span>ABOUT</span>
            </a>
        </li>
        </ul>
        <section class="menu_sns">
        <a href="#">
            <img src="img/btn_facebook.png" alt="facebook">
        </a>
        <a href="#">
            <img src="img/btn_blog.png" alt="blog">
        </a>
        <a href="#">
            <img src="img/btn_twitter.png" alt="twitter">
        </a>
        <a href="#">
            <img src="img/btn_instagram.png" alt="instagram">
        </a>
        </section>
    </div>
        <button type="button"class="close_nav">
        <span>메뉴닫기</span>
    </button>
    <div id="layer_dim" class="dim dim1"></div>
    </nav>